.one{
      background-color: aquamarine;
        padding-left:10px ;
        padding-top:10px ;
        padding-bottom:10px ;
        padding-right:10px ;
}
.two{
    background-color:purple;
    font-style: italic;
   padding-left: 20px;
   padding-top: 10px;
  padding-bottom: 10px;
   padding-right:10px ;
}
.three{
      background-color: deeppink;
      font-weight: 400;
padding-left: 500px;
padding-top: 200px; 
padding-bottom: 100px;
height: 10px;
margin: 20px;
}
td {
   background-color: chartreuse;
   font-size: larger;
color:palevioletred;
border-style: dotted;
border-color: crimson;
height: 100px;
width: 200px;
} 
th {
   background-color: purple;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:palevioletred;
   border-style: double;
   border-color: red;
   height: 100px;
   width: 200px;
}
  
 h1 {
background-color:red;
text-align: center;
 }
  a:link{
  text-decoration: dotted;
  }
/* visited link */
a:visited{
   color:cornsilk;
   text-decoration: none;
}
/*hover--Keeping mouse over link>
a hover{
color;pink

}









